## Bash
alias bat='batcat'
alias cdtop='cd $(git rev-parse --show-toplevel)'
alias clip='xclip -sel clip'
alias fd='fdfind'
alias less='less -R'
alias ll='eza -algh --color-scale=age --icons=auto'
alias ncdu='ncdu --color=dark'
alias resetclock='sudo hwclock -s'
alias x='exit 0'

## Docker
alias dc='docker compose'
alias dce='docker compose exec'
alias dcea='docker compose exec app'
alias dcua='docker compose up -d && docker attach $(docker-compose ps -q app)'

## Node.js
alias caniuse="npx caniuse-cmd"

# Pretty print $PATH
alias path='echo $PATH | tr -s ":" "\n"'

## Ruby
alias be="bundle exec"
alias rdb="spring rake db:migrate"
alias rc="spring rails c"
alias rs="spring rspec"
alias rsc="git status | grep _spec | grep modified: | awk '{ print \$2 }' | xargs --no-run-if-empty bundle exec rspec"

