## Git
alias ga='git add'
alias gb='git branch --sort=-committerdate'
alias gbr="git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)'|column -ts'|'"
alias gco='git checkout'
alias gcoi="gbr | fzf --ansi | awk '{print \$1;}' | sed -r 's/\*//g' | xargs git checkout"
alias gcm='git commit -m'
alias gcv='git commit -v'
alias gd='git diff'
alias gl="git log -n 15 --graph --date-order --date=relative --pretty=format:'%C(red)%h%C(reset)%C(auto)%d%C(reset) %s %C(green)(%cr) %C(yellow) %an %C(reset)'"
alias gm='git merge'
alias gpl='git pull'
alias gps='git push'
alias gr='git remote'
alias grb='git rebase'
alias grs='git reset'
alias gs='git status'
alias gsh='git show'
alias gwip='git add . && git commit -m "WIP" --no-verify'

## Vagrant
alias v='vagrant'

## Ruby
alias be="bundle exec"
alias rdb="rake db:migrate"
alias rc="rails c"
alias rs="bundle exec rspec"
alias rsc="git status | grep _spec | grep modified: | awk '{ print \$2 }' | xargs --no-run-if-empty bundle exec rspec"

## Bash
alias fd='fdfind'
alias less='less -R'
alias ll='ls -alFh --color'
alias x='exit'

# Allow z to use fzf when called without arguments:
unalias z 2> /dev/null
z() {
  [ $# -gt 0 ] && _z "$*" && return
  cd "$(_z -l 2>&1 | fzf --height 40% --nth 2.. --reverse --inline-info +s --tac --query "${*##-* }" | sed 's/^[0-9,.]* *//')"
}

# Pretty print $PATH
alias path='echo $PATH | tr -s ":" "\n"'

## Windows executables:
alias explore='explorer.exe'
alias explorer='explorer.exe'
alias multipass='/mnt/c/Program\ Files/Multipass/bin/multipass.exe'
alias open='cmd.exe /C start'
alias start='cmd.exe /C start'

