[alias]
  a = add
  alias = "!f() { git config --get-regexp ^alias. | cut -c7- | grep -E \"${1}\" --color=always | sed 's/ /\t/'; }; f"
  amend = commit --amend
  ap = add -p
  b = branch
  br = !git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD) %(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always | column -ts'|'
  ch = checkout
  c = commit
  cm = commit -m
  co = checkout
  coi = "!git br | fzf --ansi | awk '{ print $1; }' | sed 's/*//' | xargs git checkout"
  contributors = shortlog --summary --numbered
  cp = cherry-pick
  cv = commit -v
  d = diff
  ds = diff --staged
  f = fetch --all
  fixup = "!git log -n 15 --oneline --color=always | fzf --ansi | awk '{ print $1 }' | xargs git commit --fixup"
  l = log -n 15 --graph --date-order --date=relative --pretty='format:%C(red)%h%C(reset)%C(auto)%d%C(reset) %s %C(green)(%cr) %C(yellow) %an %C(reset)'
  m = merge
  oops = commit --amend --no-edit
  rb = rebase
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase -i
  rs = reset
  s = status
  sh = show
  shs = show --stat
  squash = "!git log -n 15 --oneline --color=always | fzf --ansi | awk '{ print $1 }' | xargs -o git commit --squash"
  st = status
  sw = switch
  wip = "!git add . && git commit --no-verify -m 'WIP'"
[branch]
  sort = -committerdate
[commit]
  verbose = true
[core]
  attributesfile = ~/.gitattributes
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[init]
  defaultBranch = main
[pull]
  rebase = merges
[push]
  default = simple
[rebase]
  autosquash = true
