[alias]
  a = add
  alias = "!git config --get-regexp ^alias. | cut -c7-"
  amend = commit --amend
  ap = add -p
  b = branch
  br = for-each-ref --sort=-committerdate refs/heads --format='%(HEAD) %(color:yellow)%(refname:short)  %(color:bold green)%(committerdate:relative)  %(color:blue)%(subject)  %(color:magenta)%(authorname)%(color:reset)'
  ch = checkout
  c = commit
  cm = commit -m
  co = checkout
  contributors = shortlog --summary --numbered
  cv = commit -v
  d = diff
  ds = diff --staged
  f = fetch --all
  l = log -n 15 --graph --date-order --date=relative --pretty='format:%C(red)%h%C(reset)%C(auto)%d%C(reset) %s %C(green)(%cr) %C(yellow) %an %C(reset)'
  m = merge
  oops = commit --amend --no-edit
  rb = rebase
  rbi = rebase -i
  rs = reset
  s = status
  sh = show
  st = status
  sw = switch
  wip = "!git add . && git commit --no-verify -m 'WIP'"
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[branch]
  sort = -committerdate
[commit]
  verbose = true
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[init]
  defaultBranch = main
[pull]
  rebase = merges
[push]
  default = simple
[rebase]
  autosquash = true
