[alias]
  a = add
  ap = add -p
  b = branch
  ch = checkout
  c = commit
  cm = commit -m
  cv = commit -v
  d = diff
  ds = diff --staged
  m = merge
  rb = rebase
  rbi = rebase -i
  rs = reset
  s = status
  sh = show
  st = status
[core]
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
[pull]
  rebase = preserve
[push]
  default = simple
[rebase]
  autosquash = true
