- name: Update apt packages
  tags: [ apt ]
  become: yes
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install a few tools
  tags: [ apt ]
  become: yes
  apt:
    state: latest
    pkg:
    - ansible
    - bash-completion
    - bat
    - build-essential
    - fd-find
    - htop
    - httpie
    - jq
    - lynx
    - ncdu
    - nnn
    - pv
    - python3-apt
    - ripgrep
    - software-properties-common
    - tig
    - tealdeer
    - unzip
    - vim
    - zip
  register: apt

#---
# Reporting:
#---
- name: Identify installed and upgraded packages
  tags: [ apt ]
  shell: grep -E "^$(date +%Y-%m-%d).+ (install|upgrade) " /var/log/dpkg.log |cut -d " " -f 3-6
  register: result
  when: apt.changed

- name: Show installed and upgraded packages
  tags: [ apt ]
  debug:
    msg: "{{ result.stdout_lines }}"
  when: apt.changed
