- name: Add git core PPA repository
  tags: [ git ]
  become: yes
  apt_repository:
    repo: ppa:git-core/ppa
    codename: "{{ '' if ansible_facts['distribution'] == 'Ubuntu' else 'noble' }}"

- name: Install latest stable version of git
  tags: [ git ]
  become: yes
  apt:
    state: latest
    update_cache: yes
    cache_valid_time: 3600
    pkg: git

- name: Use dotfiles .gitconfig
  tags: [ git ]
  git_config:
    name: include.path
    scope: global
    value: "{{ home }}/.dotfiles/.gitconfig"
    state: present
