- name: Install mise-en-place
  tags: [ mise ]
  shell: curl https://mise.run | sh
  args:
    creates: ~/.local/bin/mise
    executable: /bin/bash

- name: Install Usage
  tags: [ mise ]
  shell: ~/.local/bin/mise use --global usage
  register: usage
  changed_when:
    - '"installed" in usage.stderr'

- name: Create completion script for mise
  tags: [ mise ]
  shell: |
    mkdir -p ~/.local/share/bash-completion/completions
    ~/.local/bin/mise completion bash --include-bash-completion-lib > ~/.local/share/bash-completion/completions/mise
  args:
    creates: ~/.local/share/bash-completion/completions/mise
    executable: /bin/bash

- name: Update mise to latest version
  tags: [ mise ]
  shell: ~/.local/bin/mise self-update --yes
  register: output
  changed_when:
    - '"New release found" in output.stderr'
