- name: Symlink various dotfiles from home directory
  tags: [ symlinks ]
  file:
    src: "~/.dotfiles/{{ item }}"
    dest: "~/{{ item }}"
    state: link
  with_items:
  - .batcatrc
  - .default-gems
  - .editorconfig
  - .gemrc
  - .gitattributes
  - .gitignore_global
  - .inputrc
  - .tigrc
  - .tmux.conf
  - .vimrc
