- name: Install Signal's official public software signing key
  tags: [ signal ]
  become: true
  shell: |
    wget -O- https://updates.signal.org/desktop/apt/keys.asc | gpg --dearmor > signal-desktop-keyring.gpg;
    cat signal-desktop-keyring.gpg | sudo tee /usr/share/keyrings/signal-desktop-keyring.gpg > /dev/null
  args:
    creates: /usr/share/keyrings/signal-desktop-keyring.gpg
    executable: /bin/bash

- name: Add Signal apt repository
  tags: [ signal ]
  become: true
  shell: |
    wget -O signal-desktop.sources https://updates.signal.org/static/desktop/apt/signal-desktop.sources;
    cat signal-desktop.sources | sudo tee /etc/apt/sources.list.d/signal-desktop.sources > /dev/null
  args:
    creates: /etc/apt/sources.list.d/signal-desktop.sources
    executable: /bin/bash

- name: Update apt cache
  tags: [ signal ]
  become: true
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Signal
  tags: [ signal ]
  become: true
  apt:
    state: latest
    pkg: signal-desktop
